<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Doors.Properties.Settings.C__USERS_USER_DOCUMENTS_DOORS_MDFConnectionString"
            connectionString="Data Source=SADMODPC\SQLEXPRESS;Initial Catalog=C:\USERS\USER\DOCUMENTS\DOORS.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>